#winner {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  font-size: 2em;
  font-family: Arial;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#scoreboard {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  height: 80px;
  font-size: 2em;
  font-family: Arial;
  background-color: #ACE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

#play-again-button {
  width: 30%;
  height: 50px;
  background-color: #999;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 30px;
  font-size:   1.5em;
  color: orange;
  border: 5px solid #ACE;
}

#container {
  width: 70%;
  position: relative;
  height: 500px;
  margin: auto;
}

.input {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999;
  font-family: Arial;
  font-size: 3em;
  color: orange;

}

.input2 {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ACE;
  font-family: Arial;
  font-size: 3em;
  color: orange;
}

#boxesTL {
  top: 0;
  width: 33%;
  height: 33%;
  background-color: #ACE;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesTM {
  top: 0;
  left: 33%;
  width: 33%;
  height: 33%;
  background-color: #999;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boxesTR {
  top: 0;
  left: 66%;
  width: 33%;
  height: 33%;
  background-color: #ACE;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesML {
  top: 33%;
  width: 33%;
  height: 33%;
  background-color: #999;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesMM {
  top: 33%;
  left: 33%;
  width: 33%;
  height: 33%;
  background-color: #ACE;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesMR {
  top: 33%;
  left: 66%;
  width: 33%;
  height: 33%;
  background-color: #999;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesBL {
  top: 66%;
  width: 33%;
  height: 33%;
  background-color: #ACE;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesBM {
  top: 66%;
  left: 33%;
  width: 33%;
  height: 33%;
  background-color: #999;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#boxesBR {
  top: 66%;
  left: 66%;
  width: 33%;
  height: 33%;
  background-color: #ACE;
  position: absolute;
  margin: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

}
